/**
 * Swagger UI Theme Overrides
 *
 * Theme: Monokai
 * Author: Mark Ostrander
 * Github: https://github.com/ostranme/swagger-ui-themes
 */

 .dark .swagger-ui .opblock.opblock-post {
   border-color: #DADFE1;
   background: rgb(39, 40, 34);
 }

 .dark .swagger-ui .opblock.opblock-post .opblock-summary-method {
   background: #86C30D;
 }

 .dark .swagger-ui .opblock.opblock-post .opblock-summary {
   border-color: #DADFE1;
 }

 .dark .swagger-ui .opblock.opblock-put {
   border-color: #DADFE1;
   background: rgb(39, 40, 34);
 }

 .dark .swagger-ui .opblock.opblock-put .opblock-summary-method {
   background: #FD971F;
 }

 .dark .swagger-ui .opblock.opblock-put .opblock-summary {
   border-color: #DADFE1;
 }

 .dark .swagger-ui .opblock.opblock-delete {
   border-color: #DADFE1;
   background: rgb(39, 40, 34);
 }

 .dark .swagger-ui .opblock.opblock-delete .opblock-summary-method {
   background: #CB4876;
 }

 .dark .swagger-ui .opblock.opblock-delete .opblock-summary {
   border-color: #DADFE1;
 }

 .dark .swagger-ui .opblock.opblock-get {
   border-color: #DADFE1;
   background: rgb(39, 40, 34);
 }

 .dark .swagger-ui .opblock.opblock-get .opblock-summary-method {
   background: #1DB4D0;
 }

 .dark .swagger-ui .opblock.opblock-get .opblock-summary {
   border-color: #DADFE1;
 }

 .dark .swagger-ui .opblock.opblock-patch {
   border-color: #DADFE1;
   background: rgb(39, 40, 34);
 }

 .dark .swagger-ui .opblock.opblock-patch .opblock-summary-method {
   background: #D38042;
 }

 .dark .swagger-ui .opblock.opblock-patch .opblock-summary {
   border-color: #DADFE1;
 }

 .dark .swagger-ui .opblock.opblock-head {
   border-color: #DADFE1;
   background: rgb(39, 40, 34);
 }

 .dark .swagger-ui .opblock.opblock-head .opblock-summary-method {
   background: #F7CA18;
 }

 .dark .swagger-ui .opblock.opblock-head .opblock-summary {
   border-color: #DADFE1;
 }

 .dark .swagger-ui .opblock.opblock-options {
   border-color: #DADFE1;
   background: rgb(39, 40, 34);
 }

 .dark .swagger-ui .opblock.opblock-options .opblock-summary-method {
   background: #29B6F6;
 }

 .dark .swagger-ui .opblock.opblock-options .opblock-summary {
   border-color: #DADFE1;
 }

 .dark .swagger-ui .opblock.opblock-deprecated {
   opacity: .9;
   border-color: #DADFE1;
   background: rgb(39, 40, 34);
 }

 .dark .swagger-ui .opblock.opblock-deprecated .opblock-summary-method {
   background: #ebebeb
 }

 .dark .swagger-ui .opblock.opblock-deprecated .opblock-summary {
   border-color: #ebebeb
 }

 .dark .swagger-ui .topbar {
   padding: 8px 30px;
   background-color: #272822;
 }

 .dark .swagger-ui .topbar .download-url-wrapper input[type=text] {
   min-width: 350px;
   margin: 0;
   border: 2px solid #DADFE1;
   border-radius: 4px 0 0 4px;
   outline: none;
 }

 .dark .swagger-ui .topbar .download-url-wrapper .download-url-button {
   font-size: 16px;
   font-weight: 700;
   padding: 4px 40px;
   border: none;
   border-radius: 0 4px 4px 0;
   background: #DADFE1;
   font-family: Titillium Web, sans-serif;
   color: #272822;
 }

 .dark .swagger-ui .info a {
   font-size: 14px;
   -webkit-transition: all .4s;
   transition: all .4s;
   font-family: Open Sans, sans-serif;
   color: #272822;
 }

 .dark .swagger-ui .info a:hover {
   color: #272822;
 }

 .dark .swagger-ui .btn.authorize {
   line-height: 1;
   display: inline;
   color: #272822;
   border-color: #272822;
 }

 .dark .swagger-ui .btn.authorize svg {
   fill: #272822;
 }

 .dark .swagger-ui .opblock .opblock-summary-path, .dark .swagger-ui .opblock .opblock-summary-path__deprecated {
   font-size: 16px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 0 10px;
   font-family: Source Code Pro, monospace;
   font-weight: 600;
   color: #ffffff;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
 }

 .dark .swagger-ui .opblock .opblock-summary-description {
   font-size: 13px;
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   font-family: Open Sans, sans-serif;
   color: #ffffff;
 }

 .dark .swagger-ui table thead tr td, .dark .swagger-ui table thead tr th {
   font-size: 12px;
   font-weight: 700;
   padding: 12px 0;
   text-align: left;
   border-bottom: 1px solid rgba(59, 65, 81, .2);
   font-family: Open Sans, sans-serif;
   color: #ffffff;
 }

 .dark .swagger-ui .parameters-col_description p {
   font-size: 14px;
   margin: 0;
   font-family: Open Sans, sans-serif;
   color: #ffffff;
 }

 .dark .swagger-ui .parameter__name {
   font-size: 16px;
   font-weight: 400;
   font-family: Titillium Web, sans-serif;
   color: #ffffff;
 }

 .dark .swagger-ui .opblock .opblock-section-header label {
   font-size: 12px;
   font-weight: 700;
   margin: 0;
   font-family: Titillium Web, sans-serif;
   color: #3b4151;
 }

 .dark .swagger-ui .opblock .opblock-section-header h4 {
   font-size: 14px;
   margin: 0;
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   font-family: Titillium Web, sans-serif;
   color: #3b4151;
 }

 .dark .swagger-ui .opblock .opblock-summary-description {
   font-size: 13px;
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   font-family: Open Sans, sans-serif;
   color: #ffffff;
 }

 .dark .swagger-ui .tab li {
   font-size: 12px;
   min-width: 100px;
   min-width: 90px;
   padding: 0;
   cursor: pointer;
   font-family: Titillium Web, sans-serif;
   color: #ffffff;
 }

 .dark .swagger-ui label {
   font-size: 12px;
   font-weight: 700;
   margin: 0 0 5px;
   font-family: Titillium Web, sans-serif;
   color: #ffffff;
 }

 .dark .swagger-ui .response-col_status {
   font-size: 14px;
   font-family: Open Sans, sans-serif;
   color: #ffffff;
 }

 .dark .swagger-ui .opblock-description-wrapper p, .dark .swagger-ui .opblock-title_normal p {
    font-size: 14px;
    margin: 0;
    font-family: Open Sans, sans-serif;
    color: #ffffff;
}

/* Custom Fixes for Dark Mode Integration */

.dark .swagger-ui {
    color: #f8f8f2;
}

.dark .swagger-ui .info .title,
.dark .swagger-ui .info h1,
.dark .swagger-ui .info h2,
.dark .swagger-ui .info h3,
.dark .swagger-ui .info h4,
.dark .swagger-ui .info h5,
.dark .swagger-ui .info p,
.dark .swagger-ui .info li {
    color: #f8f8f2;
}

.dark .swagger-ui .info a {
    color: #61affe;
}

/* Remove white background from scheme container */
.dark .swagger-ui .scheme-container {
    background: transparent;
    box-shadow: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .swagger-ui .scheme-container .schemes > label {
    color: #f8f8f2;
}

/* Inputs and Selects */
.dark .swagger-ui select {
    background-color: #272822;
    color: #f8f8f2;
    border-color: #555;
}

.dark .swagger-ui input[type=text],
.dark .swagger-ui input[type=email],
.dark .swagger-ui input[type=password],
.dark .swagger-ui input[type=search],
.dark .swagger-ui textarea {
    background-color: #272822;
    color: #f8f8f2;
    border-color: #555;
}

/* Models Section */
.dark .swagger-ui section.models {
    border-color: rgba(255, 255, 255, 0.2);
}

.dark .swagger-ui section.models.is-open h4 {
    border-bottom-color: rgba(255, 255, 255, 0.2);
    color: #f8f8f2;
}

.dark .swagger-ui .model {
    color: #f8f8f2;
}

.dark .swagger-ui .model-box {
    background-color: rgba(255, 255, 255, 0.05);
}

.dark .swagger-ui .prop-type {
    color: #66d9ef;
}

.dark .swagger-ui .opblock-tag {
    color: #f8f8f2;
    border-bottom-color: rgba(255, 255, 255, 0.2);
}

.dark .swagger-ui .opblock-tag:hover {
    background: rgba(255, 255, 255, 0.05);
}

.dark .swagger-ui .opblock .opblock-section-header {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f8f8f2;
}

.dark .swagger-ui .opblock .opblock-section-header label {
    color: #f8f8f2;
}

.dark .swagger-ui .opblock .opblock-section-header h4 {
    color: #f8f8f2;
}

.dark .swagger-ui .tab li {
    color: #f8f8f2;
}

.dark .swagger-ui .dialog-ux .modal-ux {
    background: #272822;
    border-color: #555;
    color: #f8f8f2;
}

.dark .swagger-ui .dialog-ux .modal-ux-header {
    border-bottom-color: #555;
}

.dark .swagger-ui .dialog-ux .modal-ux-header h3 {
    color: #f8f8f2;
}

.dark .swagger-ui .dialog-ux .modal-ux-content p {
    color: #f8f8f2;
}
