@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import 'tailwindcss';
@import 'fumadocs-ui/css/preset.css';

@theme {
    --font-sans: 'IBM Plex Sans', sans-serif;
    --default-mono-font-family: 'IBM Plex Mono', monospace;

    --color-fd-background: white;
    --color-fd-foreground: hsl(0, 0%, 3.9%);
    --color-fd-muted: hsl(0, 0%, 96.1%);
    --color-fd-muted-foreground: hsl(0, 0%, 45.1%);
    --color-fd-popover: hsl(0, 0%, 98%);
    --color-fd-popover-foreground: hsl(0, 0%, 15.1%);
    --color-fd-card: hsl(0, 0%, 94.7%);
    --color-fd-card-foreground: hsl(0, 0%, 3.9%);
    --color-fd-border: hsla(0, 0%, 80%, 50%);
    --color-fd-primary: hsl(218, 99%, 28%);
    --color-fd-primary-foreground: hsl(0, 0%, 98%);
    --color-fd-secondary: hsl(0, 0%, 93.1%);
    --color-fd-secondary-foreground: hsl(0, 0%, 9%);
    --color-fd-accent: hsla(0, 0%, 82%, 50%);
    --color-fd-accent-foreground: hsl(0, 0%, 9%);
    --color-fd-ring: hsl(0, 0%, 63.9%);
}

.dark {
    --color-fd-background: hsl(0, 0%, 3.9%);
    --color-fd-foreground: hsl(0, 0%, 98%);
    --color-fd-muted: hsl(0, 0%, 14.9%);
    --color-fd-muted-foreground: hsl(0, 0%, 63.9%);
    --color-fd-popover: hsl(0, 0%, 3.9%);
    --color-fd-popover-foreground: hsl(0, 0%, 98%);
    --color-fd-card: hsl(0, 0%, 8%);
    --color-fd-card-foreground: hsl(0, 0%, 98%);
    --color-fd-border: hsla(0, 0%, 50%, 30%);
    --color-fd-primary: hsl(218, 100%, 47%);
    --color-fd-primary-foreground: hsl(0, 0%, 9%);
    --color-fd-secondary: hsl(0, 0%, 14.9%);
    --color-fd-secondary-foreground: hsl(0, 0%, 98%);
    --color-fd-accent: hsla(0, 0%, 40%, 50%);
    --color-fd-accent-foreground: hsl(0, 0%, 98%);
    --color-fd-ring: hsl(0, 0%, 83.1%);
}

.dark .bg-grid-pattern {
    background-image: linear-gradient(0deg, rgba(255,255,255,0.03) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
}

body {
    font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-fd-primary);
}

.bg-grid-pattern {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.05) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(0,0,0,0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}